
body {
	background-color: #EAECEE;
}

nav {
/*	background: #34495E;  */
	background-color: #17202A;
}

#menu {
	margin-left: auto;
}

#menu li a {
	font-size: 17px;
}

hr{
	margin-left: 5%;
	margin-right: 5%;
}

ul li {
	list-style: none;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Fredoka One', cursive;
}


article {
	background-color: white;
}

aside {
	background-color: white;
}


textarea {
	padding: 10px;
	min-width: 240px;
	max-width: 240px;
	min-height: 100px;
	max-height: 100px;
}

footer {
	font-size: 12px;
	background-color: black;
}

.btn {
	background-color: black;
	color: white;
}